{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script>
        function updateControls() {
            document.getElementById("settings_container").hidden = !document.getElementById("id_enabled").checked;
        }

        window.addEventListener("load", function() {
            document.getElementById("id_enabled").addEventListener("click", updateControls);
            updateControls();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% translate "Settings" %}</h5>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
