{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% translate "Reset your password" %}</h3>
                </div>
                <div class="card-body">
                    {% if validlink %}
                        {% crispy form %}
                    {% else %}
                        {% translate "The password reset link is invalid. Please request a new password reset." %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}