{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block scripts %}
    <script src="{% static "utilities/js/pagination.js" %}"></script>
    <script>
        /**
         * @typedef {Object} Token
         * @property {string} updateUrl
         * @property {string} deleteUrl
         * @property {string} apiUrl
         * @property {string} name
         * @property {string} secret
         * @property {Array<string>} tenants
         * @property {string} slug
         * @property {string|null} schedulingStrategy
         */

        window.addEventListener("load", function() {
            /**
             *
             * @param {URL} url
             * @param {number} page
             * @return {URL}
             */
            function setURLParameter(url, page) {
                url.searchParams.set("page", page.toFixed(0));

                return url;
            }

            const paginator = new Paginator({
                getUrl(page) {
                    return setURLParameter(getUrl("{% url "api_fetch_tokens" %}"), page).toString();
                },
                renderHead() {
                    const row = document.createElement("tr");

                    row.append(this.createTableHead("{% translate "Name" %}"));

                    row.append(this.createTableHead("{% translate "Secret" %}"));

                    row.append(this.createTableHead("{% translate "Url" %}"));

                    row.append(this.createTableHead("{% translate "Slug" %}"));

                    row.append(this.createTableHead("{% translate "Tenants" %}"));

                    row.append(this.createTableHead("{% translate "Scheduling Strategy" %}"));

                    const action = this.createTableHead("{% translate "Action" %}");
                    action.classList.add("text-right");
                    row.append(action);

                    return row;
                },
                /**
                 * @param {Token} token
                 * @return {HTMLTableRowElement}
                 */
                renderEntry(token) {
                    const row = document.createElement("tr");

                    const name = document.createElement("td");
                    name.innerText = token.name;
                    row.append(name);

                    const secrete = document.createElement("td");
                    row.append(secrete);

                    const secretGroup = document.createElement("div");
                    secretGroup.classList.add("input-group", "input-group-sm");
                    secrete.append(secretGroup);

                    const secretInput = document.createElement("input");
                    secretInput.type = "password";
                    secretInput.classList.add("form-control");
                    secretInput.value = token.secret;
                    secretGroup.append(secretInput);

                    const secreteInputAppend = document.createElement("span");
                    secreteInputAppend.classList.add("input-group-append");
                    secretGroup.append(secreteInputAppend);

                    const revealHideSecret = document.createElement("button");
                    revealHideSecret.classList.add("btn", "btn-secondary", "btn-flat");
                    revealHideSecret.type = "button";
                    revealHideSecret.title = "{% translate "Reveal secret" %}";
                    revealHideSecret.dataset.boundary = "viewport";
                    secreteInputAppend.append(revealHideSecret);

                    const revealPictogram = document.createElement("em");
                    revealPictogram.classList.add("fa", "fa-sm", "fa-eye");
                    revealHideSecret.append(revealPictogram);

                    revealHideSecret.addEventListener("click", () => {
                        if (secretInput.type === "password") {
                            secretInput.type = "text";
                            revealPictogram.classList.replace("fa-eye", "fa-eye-slash");
                        } else {
                            secretInput.type = "password";
                            revealPictogram.classList.replace("fa-eye-slash", "fa-eye");
                        }
                    });

                    const copySecret = document.createElement("button");
                    copySecret.type = "button";
                    copySecret.classList.add("btn", "btn-success", "btn-flat");
                    copySecret.title = "{% translate "Copy secret" %}";
                    copySecret.dataset.boundary = "viewport";
                    secreteInputAppend.append(copySecret);

                    copySecret.addEventListener("click", () => {
                        copyToClipboard(secretInput.value)
                            .then(() => toastr.success("{% translate "The secret has successfully been copied to the clipboard." %}"))
                            .catch(() => toastr.error("{% translate "Your Browser does not support copying to the clipboard." %}"));

                    });

                    const copyPictogram = document.createElement("em");
                    copyPictogram.classList.add("fa", "fa-sm", "fa-copy");
                    copySecret.append(copyPictogram);

                    const url = document.createElement("td");
                    url.innerText = getUrl(token.apiUrl).toString();
                    row.append(url);

                    const slug = document.createElement("td");
                    slug.innerText = token.slug;
                    row.append(slug);

                    const tenants = document.createElement("td");
                    tenants.innerText = token.tenants.join(", ");
                    row.append(tenants);

                    const schedulingStrategy = document.createElement("td");
                    schedulingStrategy.innerText = token.schedulingStrategy ?? "-";
                    row.append(schedulingStrategy);

                    const actionColumn = document.createElement("td");
                    row.append(actionColumn);

                    const action = document.createElement("div");
                    actionColumn.append(action);
                    action.classList.add("btn-group", "btn-group-sm", "float-right");

                    const updateLink = document.createElement("a");
                    updateLink.classList.add("btn", "btn-success");
                    updateLink.href = token.updateUrl;
                    updateLink.title = "{% translate "Edit" %}";
                    updateLink.dataset.boundary = "viewport";
                    action.append(updateLink);

                    const updateLinkIcon = document.createElement("em");
                    updateLinkIcon.classList.add("fas", "fa-pen");
                    updateLink.append(updateLinkIcon);

                    const deleteLink = document.createElement("button");
                    deleteLink.classList.add("btn", "btn-danger");
                    deleteLink.title = "{% translate "Delete" %}";
                    deleteLink.dataset.boundary = "viewport";
                    deleteLink.addEventListener("click", () => {
                        document.getElementById("delete_token").href = token.deleteUrl;
                        jQuery("#delete_token_modal").modal("toggle");
                    }, false);
                    action.append(deleteLink);

                    const deleteLinkIcon = document.createElement("em");
                    deleteLinkIcon.classList.add("fas", "fa-trash-alt");
                    deleteLink.append(deleteLinkIcon);

                    return row;
                },
                /**
                 * @param {number} page
                 * @param {number} pageCount
                 * @param {number} totalCount
                 * @param {Array<Token>} entries
                 */
                pageLoadedCallback(page, pageCount, totalCount, entries) {
                    document.getElementById("tokens-count-badge").innerText = totalCount.toFixed();

                    const url = new URL(window.location);
                    setURLParameter(url, page);
                    window.history.replaceState({}, "", url);
                }
            });
            document.getElementById("tokens-card-body").append(paginator.container);

            let _initialSearchParams = new URL(window.location).searchParams;

            paginator.loadPage(Number(_initialSearchParams.get("page") || 1));
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Token Overview" %}
                                <span id="tokens-count-badge" class="badge badge-pill badge-primary">0</span>
                            </h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url "token_create" %}"
                                   title="{% translate "Create" %}">
                                    <em class="fas fa-plus"></em>
                                </a>
                            </div>
                        </div>
                        <div id="tokens-card-body" class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_token_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete token" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the token?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="" id="delete_token">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                        {% translate "Cancel" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}