{% extends "base.html" %}
{% load tenant_based_permission %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script>
        jQuery(function () {
            $("#id_owner").select2({
                theme: 'bootstrap4',
                minimumInputLength: 3,
                ajax: {
                    url: "{% url "json_search_user" %}",
                    processResults: function (data) {
                        let data_arr = [];
                        data["users"].forEach((user) => {
                            data_arr.push(
                                {
                                    id: user.id,
                                    text: user.display_name
                                }
                            )
                        });
                        let result = {
                            results: data_arr
                        };

                        return result;
                    }
                }
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ title }}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
