{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="text-center">
                    {{ header }}
                </h3>
            </div>

            <div class="card-body">
                <p class="card-text">
                    {{ body }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
