{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="{% static "utilities/js/pagination.js" %}"></script>
    <script>
        /**
         * @typedef {Object} Group
         * @property {string} updateUrl
         * @property {string} deleteUrl
         * @property {string} name
         */

        window.addEventListener("load", function() {
            /**
             * @type {string}
             */
            let searchFilter;

            /**
             *
             * @param {URL} url
             * @param {number} page
             * @return {URL}
             */
            function setURLParameter(url, page) {
                url.searchParams.set("page", page.toFixed(0));
                url.searchParams.set("filter-search", searchFilter);

                return url;
            }

            const paginator = new Paginator({
                getUrl(page) {
                    return setURLParameter(getUrl("{% url "api_fetch_groups" %}"), page).toString();
                },
                renderHead() {
                    const row = document.createElement("tr");

                    row.append(this.createTableHead("{% translate "Name" %}"));


                    const action = this.createTableHead("{% translate "Action" %}");
                    action.classList.add("text-right");
                    row.append(action);

                    return row;
                },
                /**
                 * @param {Group} group
                 * @return {HTMLTableRowElement}
                 */
                renderEntry(group) {
                    const row = document.createElement("tr");

                    const name = document.createElement("td");
                    name.innerText = group.name;
                    row.append(name);

                    const actionColumn = document.createElement("td");
                    row.append(actionColumn);
                    const action = document.createElement("div");
                    actionColumn.append(action);
                    action.classList.add("btn-group", "btn-group-sm", "float-right");

                    const updateLink = document.createElement("a");
                    updateLink.classList.add("btn", "btn-success");
                    updateLink.href = group.updateUrl;
                    updateLink.title = "{% translate "Edit" %}";
                    action.append(updateLink);

                    const updateLinkIcon = document.createElement("em");
                    updateLinkIcon.classList.add("fas", "fa-pen");
                    updateLink.append(updateLinkIcon);

                    const deleteLink = document.createElement("button");
                    deleteLink.classList.add("btn", "btn-danger");
                    deleteLink.title = "{% translate "Delete" %}";
                    deleteLink.addEventListener("click", () => {
                        document.getElementById("delete_group").href = group.deleteUrl;
                        jQuery("#delete_group_modal").modal("toggle");
                    }, false);
                    action.append(deleteLink);

                    const deleteLinkIcon = document.createElement("em");
                    deleteLinkIcon.classList.add("fas", "fa-trash-alt");
                    deleteLink.append(deleteLinkIcon);

                    return row;
                },
                /**
                 * @param {number} page
                 * @param {number} pageCount
                 * @param {number} totalCount
                 * @param {Array<Group>} entries
                 */
                pageLoadedCallback(page, pageCount, totalCount, entries) {
                    document.getElementById("groups-count-badge").innerText = totalCount.toFixed();

                    const url = new URL(window.location);
                    setURLParameter(url, page);
                    window.history.replaceState({}, "", url);
                }
            });
            document.getElementById("groups-card-body").append(paginator.container);

            const groupSearchFilterInput = document.getElementById("group-search-filter");
            groupSearchFilterInput.addEventListener("input", function() {
                searchFilter = this.value;
                paginator.loadPage();
            });

            let _initialSearchParams = new URL(window.location).searchParams;

            groupSearchFilterInput.value = searchFilter = _initialSearchParams.get("filter-search") || "";

            paginator.loadPage(Number(_initialSearchParams.get("page") || 1));
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input id="group-search-filter" type="text" class="form-control"
                                           placeholder="{% translate "Search..." %}"
                                           aria-label="{% translate "Search" %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Groups Overview" %}
                                <span id="groups-count-badge" class="badge badge-pill badge-primary">0</span>
                            </h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'group_create' %}"
                                   title="{% translate "Create" %}">
                                    <em class="fas fa-plus"></em>
                                </a>
                            </div>
                        </div>
                        <div id="groups-card-body" class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_group_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete group" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete this group?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="" id="delete_group">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% translate "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
