{% extends "base.html" %}
{% load i18n %}
{% load theme %}
{% load tenant_based_permission %}
{% load static %}

{% block styles %}
    <style>
        .separator {
            display: flex;
            align-items: center;
        }

        .separator::before, .separator::after {
            height: 0.05em;
            flex-grow: 1;
            content: "";
            background-color: var(--secondary);
        }

        .separator::before {
            margin-right: 1em;
        }

        .separator::after {
            margin-left: 1em;
        }

        .collapse-icon {
            transition: transform ease-in-out .35s;
        }

        .collapse-icon.rotate {
            transform: rotate(-90deg);
        }
    </style>

    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block scripts %}
    <script src="{{ vue_url }}"></script>
    <script src="{{ vue_i18n_url }}"></script>

    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <script src="{% static "utilities/js/slides.js" %}"></script>
    <script src="{% static "utilities/js/meeting-duration-time.js" %}"></script>

    <script type="module">
        const { createApp } = Vue;
        import App from "{% static "/join-or-create/js/App.js" %}";
        import { initI18n } from "{% static "/join-or-create/js/i18n.js" %}";

        const app = createApp(App);
        {% get_current_language as LANGUAGE_CODE %}
        app.use(initI18n("{{ LANGUAGE_CODE }}"));
        app.mount("#join-or-create-app");
    </script>
{% endblock %}

{% block content %}
    <div id="join-or-create-app">
    </div>
{% endblock %}
