{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tenant_based_permission %}

{% block scripts %}
    {% if_has_tenant_based_perms "core.delete_meetingconfigurationtemplate" %}
        <script>
            function deleteRoomConfig(url) {
                jQuery("#delete_room_config_delete").attr("href", url);
                jQuery("#delete_room_config_delete_modal").modal("toggle");
            }
        </script>
    {% endif_has_tenant_based_perms %}
{% endblock %}

{% block content %}
    {% has_tenant_based_perms "core.change_meetingconfigurationtemplate" as can_change_meetingconfigurationtemplate %}
    {% has_tenant_based_perms "core.delete_meetingconfigurationtemplate" as can_delete_meetingconfigurationtemplate %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% translate "Room types" %}</h3>
                            {% if_has_tenant_based_perms "core.add_meetingconfigurationtemplate" %}
                                <div class="card-tools">
                                    <a class="btn btn-sm btn-default float-right" href="{% url 'room_config_create' %}"><em
                                        class="fas fa-plus"></em></a>
                                </div>
                            {% endif_has_tenant_based_perms %}
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col" class="text-center">{% translate "Access code" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Only prompt guests for access code" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Everyone is muted on start" %}</th>
                                    <th scope="col" class="text-center">{% translate "Moderation mode" %}</th>
                                    <th scope="col" class="text-center">{% translate "Meeting layout" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Everyone can start meeting" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Every authenticated user can start meeting" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Disable camera for non-moderators" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Disable microphone for non-moderators" %}</th>
                                    {% if general_parameter.enable_adminunmute %}
                                        <th scope="col"
                                            class="text-center">{% translate "Allow moderator to unmute users" %}</th>
                                    {% endif %}
                                    <th scope="col"
                                        class="text-center">{% translate "Allow moderator to eject webcams" %}</th>
                                    <th scope="col"
                                        class="text-center">{% translate "Enable Learning Dashboard" %}</th>
                                    <th scope="col" class="text-center">{% translate "Allow guest entry" %}</th>
                                    <th scope="col" class="text-center">{% translate "Allow recording" %}</th>
                                    <th scope="col" class="text-center">{% translate "Entry policy for non-moderators" %}</th>
                                    {% if can_change_meetingconfigurationtemplate or can_delete_meetingconfigurationtemplate %}
                                        <th scope="col">{% translate "Max. Number of participants" %}</th>
                                        <th scope="col" class="text-right">{% translate "Action" %}</th>
                                    {% else %}
                                        <th scope="col" class="text-center">
                                            {% translate "Max. Number of participants" %}
                                        </th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for config in configs %}
                                    <tr>
                                        <td>{{ config.name }}</td>
                                        <td class="text-center">
                                            {% if config.access_code %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.only_prompt_guests_for_access_code %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.mute_on_start %}
                                        </td>
                                        <td class="text-center">
                                            {% if config.moderation_mode == "EVERYONE" %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% elif config.moderation_mode == "ALL_MODERATORS" %}
                                                {% include "template_boolean_tables.html" with condition=2 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if config.meetingLayout == "VIDEO_FOCUS" %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% elif config.moderation_mode == "PRESENTATION_FOCUS" %}
                                                {% include "template_boolean_tables.html" with condition=2 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.everyone_can_start %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.authenticated_user_can_start %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.disable_cam %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.disable_mic %}
                                        </td>
                                        {% if general_parameter.enable_adminunmute %}
                                            <td class="text-center">
                                                {% include "template_boolean_tables.html" with condition=config.allow_unmuteusers %}
                                            </td>
                                        {% endif %}
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_ejectcam %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_learningdashboard %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_guest_entry %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_recording %}
                                        </td>
                                        <td class="text-center">
                                            {% if config.guest_policy == "ALWAYS_ACCEPT" %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% elif config.guest_policy == "ASK_MODERATOR" %}
                                                {% include "template_boolean_tables.html" with condition=2 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}

                                        </td>
                                        <td class="text-center">
                                            {% if config.maxParticipants %}
                                                {{ config.maxParticipants }}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}
                                        </td>

                                        {% if can_change_meetingconfigurationtemplate or can_delete_meetingconfigurationtemplate %}
                                            <td>
                                                <div class="btn-group btn-group-sm float-right">
                                                    {% if can_change_meetingconfigurationtemplate %}
                                                        <a class="btn btn-success"
                                                           href="{% url 'room_config_update' config.pk %}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="{% translate "Edit" %}">
                                                            <em class="fas fa-pen"></em>
                                                        </a>
                                                    {% endif %}

                                                    {% if can_delete_meetingconfigurationtemplate %}
                                                        <button class="btn btn-danger"
                                                                onclick="deleteRoomConfig('{% url "room_config_delete" config.pk %}')"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="{% translate "Delete" %}">
                                                            <em class="fas fa-trash-alt"></em>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if can_delete_meetingconfigurationtemplate %}
        <div id="delete_room_config_delete_modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="CenterModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete room config" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        {% translate "Are you sure you want to delete the room configuration?" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href=""
                           data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_room_config_delete">
                            {% translate "Delete" %}
                        </a>
                        <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">{% translate "Cancel" %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    {% endif %}
{% endblock %}
