{% extends "base.html" %}
{% load tenant_based_permission %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    {% theme "multi_select" "stylesheet" %}
    <style>
        #ms-id_co_owners,#ms-id_tenants{
            width: 100%!important;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% has_tenant_based_perms "core.view_slides" as can_view_slides %}
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    {% if Feature.Media.is_enabled and can_view_slides %}
        <script src="{% static "utilities/js/slides.js" %}"></script>
    {% endif %}
    <script>
        window.addEventListener("load", function () {
            const directJoinSecretInput = document.getElementById("direct_join_secret");
            const directJoinSecretGenerateButton = document.getElementById("direct_join_secret_generate");

            directJoinSecretGenerateButton.addEventListener("click", function () {
                directJoinSecretInput.value = Array.from(
                    window.crypto.getRandomValues(new Uint32Array(4))
                ).map(value => value.toString(16)).join("");
            });

            {% if Feature.Media.is_enabled and can_view_slides %}
                initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides"));
            {% endif %}
        });
    </script>
    <script>
        jQuery(function () {
            jQuery("#id_tenants").multiSelect();
            $("#id_owner").select2({
                theme: 'bootstrap4',
                minimumInputLength: 3,
                ajax: {
                    url: "{% url "json_search_user" %}",
                    processResults: function (data) {
                        let data_arr = [];
                        data["users"].forEach((user) => {
                            data_arr.push(
                                {
                                    id: user.id,
                                    text: user.display_name
                                }
                            )
                        });
                        let result = {
                            results: data_arr
                        };

                        return result;
                    }
                }
            });
            const coOwners = jQuery('#id_co_owners');
            window.select = coOwners.multiSelect();
            window.filter = jQuery('#id_filter_owner').keypress(() => {
                jQuery.get('{% url "json_search_user" %}?q=' + filter.val(),
                    /**
                     * @param {Object} data
                     * @param {[{id: number, display_name: string}]} data.users
                     */
                    (data) => {
                        coOwners.find('option').not(':selected').remove();
                        let optionValues = [];
                        coOwners.find('option').each(function () {
                            if (jQuery.inArray(this.value, optionValues) > -1) {
                                jQuery(this).remove()
                            } else {
                                optionValues.push(this.value);
                            }
                        });
                        data.users.forEach((user) => {
                            coOwners.append(jQuery("<option>", {
                                value: user.id,
                                text: user.display_name
                            }));
                        });
                        coOwners.multiSelect('refresh');
                    }
                );
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Configure Room" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
