{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="{% static "utilities/js/pagination.js" %}"></script>
    <script>
        /**
         * @typedef {Object} SchedulingStrategy
         * @property {string} updateUrl
         * @property {string} deleteUrl
         * @property {string} agentConfigUrl
         * @property {string} name
         * @property {string} strategy
         * @property {Array<string>} tenants
         * @property {string} description
         * @property {string|null} emailNotifications
         */

        window.addEventListener("load", function() {
            /**
             * @type {string}
             */
            let searchFilter;

            /**
             *
             * @param {URL} url
             * @param {number} page
             * @return {URL}
             */
            function setURLParameter(url, page) {
                url.searchParams.set("page", page.toFixed(0));
                url.searchParams.set("filter-search", searchFilter);

                return url;
            }

            const paginator = new Paginator({
                getUrl(page) {
                    return setURLParameter(getUrl("{% url "api_fetch_scheduling_strategies" %}"), page).toString();
                },
                renderHead() {
                    const row = document.createElement("tr");

                    row.append(this.createTableHead("{% translate "Name" %}"));

                    row.append(this.createTableHead("{% translate "Scheduling Strategy" %}"));

                    row.append(this.createTableHead("{% translate "Tenants" %}"));

                    row.append(this.createTableHead("{% translate "Description" %}"));

                    row.append(this.createTableHead("{% translate "Email Notifications" %}"));

                    const action = this.createTableHead("{% translate "Action" %}");
                    action.classList.add("text-right");
                    row.append(action);

                    return row;
                },
                /**
                 * @param {SchedulingStrategy} scheduling_strategy
                 * @return {HTMLTableRowElement}
                 */
                renderEntry(scheduling_strategy) {
                    const row = document.createElement("tr");

                    const name = document.createElement("td");
                    name.innerText = scheduling_strategy.name;
                    row.append(name);

                    const schedulingStrategy = document.createElement("td");
                    schedulingStrategy.innerText = scheduling_strategy.strategy;
                    row.append(schedulingStrategy);

                    const tenants = document.createElement("td");
                    tenants.innerText = scheduling_strategy.tenants.join(", ");
                    row.append(tenants);

                    const description = document.createElement("td");
                    description.innerText = scheduling_strategy.description;
                    row.append(description);

                    const emailNotifications = document.createElement("td");
                    emailNotifications.innerText = scheduling_strategy.emailNotifications;
                    row.append(emailNotifications);

                    const actionColumn = document.createElement("td");
                    row.append(actionColumn);
                    const action = document.createElement("div");
                    actionColumn.append(action);
                    action.classList.add("btn-group", "btn-group-sm", "float-right");

                    const updateLink = document.createElement("a");
                    updateLink.classList.add("btn", "btn-success");
                    updateLink.href = scheduling_strategy.updateUrl;
                    updateLink.title = "{% translate "Edit" %}";
                    action.append(updateLink);

                    const updateLinkIcon = document.createElement("em");
                    updateLinkIcon.classList.add("fas", "fa-pen");
                    updateLink.append(updateLinkIcon);

                    const deleteLink = document.createElement("button");
                    deleteLink.classList.add("btn", "btn-danger");
                    deleteLink.title = "{% translate "Delete" %}";
                    deleteLink.addEventListener("click", () => {
                        document.getElementById("delete_scheduling_strategy").href = scheduling_strategy.deleteUrl;
                        jQuery("#delete_scheduling_strategy_modal").modal("toggle");
                    }, false);
                    action.append(deleteLink);

                    const deleteLinkIcon = document.createElement("em");
                    deleteLinkIcon.classList.add("fas", "fa-trash-alt");
                    deleteLink.append(deleteLinkIcon);

                    const agentConfigLink = document.createElement("a");
                    agentConfigLink.classList.add("btn", "btn-warning");
                    agentConfigLink.href = scheduling_strategy.agentConfigUrl;
                    agentConfigLink.title = "{% translate "Edit agent configuration" %}";
                    action.append(agentConfigLink);

                    const agentConfigIcon = document.createElement("em");
                    agentConfigIcon.classList.add("fas", "fa-plus");
                    agentConfigLink.append(agentConfigIcon);

                    return row;
                },
                /**
                 * @param {number} page
                 * @param {number} pageCount
                 * @param {number} totalCount
                 * @param {Array<User>} entries
                 */
                pageLoadedCallback(page, pageCount, totalCount, entries) {
                    document.getElementById("scheduling-strategies-count-badge").innerText = totalCount.toFixed();

                    const url = new URL(window.location);
                    setURLParameter(url, page);
                    window.history.replaceState({}, "", url);
                }
            });
            document.getElementById("scheduling-strategies-card-body").append(paginator.container);

            const nameSearchFilterInput = document.getElementById("scheduling-strategy-search-filter");
            nameSearchFilterInput.addEventListener("input", function() {
                searchFilter = this.value;
                paginator.loadPage();
            });

            let _initialSearchParams = new URL(window.location).searchParams;

            nameSearchFilterInput.value = searchFilter = _initialSearchParams.get("filter-search") || "";

            paginator.loadPage(Number(_initialSearchParams.get("page") || 1));
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input id="scheduling-strategy-search-filter" type="text" class="form-control"
                                           placeholder="{% translate "Search..." %}"
                                           aria-label="{% translate "Search" %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Users Overview" %}
                                <span id="scheduling-strategies-count-badge"
                                      class="badge badge-pill badge-primary">0</span>
                            </h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" title="{% translate "Create" %}"
                                   href="{% url 'scheduling_strategy_create' %}">
                                    <em class="fas fa-plus"></em>
                                </a>
                            </div>
                        </div>
                        <div id="scheduling-strategies-card-body" class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_scheduling_strategy_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete scheduling strategy" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the scheduling strategy?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="" id="delete_scheduling_strategy">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                        {% translate "Cancel" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
