{% extends "base.html" %}
{% load tenant_based_permission %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    {% if Feature.Media.is_enabled %}
        {% if_has_tenant_based_perms "core.view_slides" %}
            {% theme "multi_select" "stylesheet" %}
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if Feature.Media.is_enabled %}
        {% if_has_tenant_based_perms "core.view_slides" %}
            <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
            <script src="{% static "utilities/js/slides.js" %}"></script>
            <script>
                window.addEventListener("load", () => initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides")));
            </script>
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Settings" %}
                                {% if tenant_domain %}
                                    - <strong>{{ tenant_domain }}</strong>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
