{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block scripts %}
    <script>
        window.addEventListener("load", () => {
            document.getElementById("id_file-container").addEventListener("change", event => {
                const nameInput = document.getElementById("id_name");
                if (!nameInput.value && event.files) {
                    nameInput.value = event.files.map(file => file.name.replace(/\.[^.]*$/, "")).join(", ");
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Configure Slides" %}</h3>
                        </div>
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
