{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        function deleteRoom(url) {
            jQuery("#delete_slides").attr("href", url);
            jQuery("#delete_slides_modal").modal("toggle");
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% trans "Slides Overview" %}
                                <span class="badge badge-pill badge-primary">{{ slides_count }}</span>
                            </h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url create_url_name %}">
                                    <em class="fas fa-plus"></em>
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush mx-3">
                                {% for slides in slides %}
                                    <li class="list-group-item" style="background-color: unset;">
                                        <div class="d-flex w-100 justify-content-between align-items-center">
                                            <div>
                                                <h5 class="mb-1">{{ slides.name }}</h5>
                                                {% if show_slides_owner and slides.owner %}
                                                    <small>
                                                        {% translate "Owner" %}:
                                                        <strong>{{ slides.owner }}</strong>
                                                    </small>
                                                {% endif %}
                                            </div>

                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-primary"
                                                   href="{{ slides.file.url }}" target="_blank"
                                                   data-toggle="tooltip" data-placement="top" data-boundary="viewport"
                                                   data-trigger="hover" title="{% translate "Show" %}">
                                                    <em class="fas fa-eye"></em>
                                                </a>
                                                <a class="btn btn-success"
                                                   href="{% url update_url_name slides.id %}"
                                                   data-toggle="tooltip" data-placement="top" data-boundary="viewport"
                                                   data-trigger="hover" title="{% translate "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteRoom('{% url delete_url_name slides.id %}')"
                                                        data-toggle="tooltip" data-placement="top" data-trigger="hover"
                                                        data-boundary="viewport" title="{% translate "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_slides_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete slides" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the slides?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="delete_slides">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% translate "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
