{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'plugins/flot-old/jquery.flot.resize.min.js' %}"></script>
    {{ meetings_per_month|json_script:"meetings_per_month" }}
    {{ month_list|json_script:"month_list" }}
    <script>
        $(function () {
                        /*
             * BAR CHART
             * ---------
             */
            var bar_data = {
                data: JSON.parse(document.getElementById("meetings_per_month").textContent),
                bars: {show: true}
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true, barWidth: 0.3, align: 'center',
                    },
                },
                colors: ['#3c8dbc'],
                xaxis: {
                    ticks: JSON.parse(document.getElementById("month_list").textContent),
                }
            })
            /* END BAR CHART */


        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><em class="fas fa-eye"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% translate "Current participants" %}</span>
                    <span class="info-box-number">{{ concurrent_participants|default_if_none:"0" }}</span>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-md">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1"><em class="fas fa-users"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% translate "Users" %}</span>
                    <span class="info-box-number">{{ users_total }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md">
            <div class="info-box">
                <span class="info-box-icon bg-gray elevation-1"><em class="fa fa-person-booth"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% translate "Rooms" %}</span>
                    <span class="info-box-number">{{ rooms_total }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><em class="fas fa-chalkboard"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% translate "Meetings" %}</span>
                    <span class="info-box-number">{{ meetings_total }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1"><em class="fas fa-video"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% translate "Recordings" %}</span>
                    <span class="info-box-number">
                        {{ recordings_total|default_if_none:"0" }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-12">
        <!-- Bar chart -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="far fa-chart-bar"></i>
                    {% translate "Meeting statistics past 12 months" %}
                </h3>

            </div>
            <div class="card-body">
                <div id="bar-chart" style="height: 300px;"></div>
            </div>
            <!-- /.card-body-->
        </div>
    </div>
    </div>
{% endblock %}
