{% extends "base.html" %}
{% load static %}
{% load join_or_create %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    {% if Feature.Media.is_enabled %}
        <script>
            function deleteSlide(url) {
                jQuery("#delete_slides").attr("href", url);
                jQuery("#delete_slides_modal").modal("toggle");
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "User details" %}: {{ person }}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% if Feature.Recordings.is_enabled %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% translate "Recordings" %}
                                </h3>
                                <div class="card-tools">
                                    <a class="btn btn-sm btn-default float-right"
                                       href="{% url 'recordings_batch_change_owner' person.pk %}"
                                       title="{% translate "Transfer all recordings to another user" %}">
                                        <em class="fas fa-snowplow"></em>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm table-hover table-borderless mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="align-middle">{% translate "Room name" %}</th>
                                        <th scope="col" class="align-middle">{% translate "Title" %}</th>
                                        <th scope="col" class="align-middle">{% translate "Date" %}</th>
                                        <th scope="col" class="align-middle text-right">{% translate "Replay" %}</th>
                                        <th scope="col" class="align-middle text-right">{% translate "Action" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for recording in recordings %}
                                        <tr>
                                            <td>{{ recording.room_name }}</td>
                                            <td>{{ recording.replay_title }}</td>
                                            <td>{{ recording.started }}</td>
                                            <td>
                                                <div class="btn-group btn-group-sm float-right">
                                                    <a class="btn btn-primary"
                                                       href="{% url "recording_redirect" recording.replay_id %}"
                                                       title="Show"><em
                                                            class="fas fa-eye"></em></a>
                                                    {% if recording.replay_video_url %}
                                                        <a class="btn btn-info"
                                                           href="{{ recording.replay_video_url }}"
                                                           title="Video Format"><em
                                                                class="fas fa-video"></em></a>
                                                    {% endif %}
                                                    {% if recording.replay_podcast_url %}
                                                        <a class="btn btn-success"
                                                           href="{{ recording.replay_podcast_url }}"
                                                           title="Podcast Format"><em
                                                                class="fas fa-headphones"></em></a>
                                                    {% endif %}
                                                    {% if recording.replay_screenshare_url %}
                                                        <a class="btn btn-secondary"
                                                           href="{{ recording.replay_screenshare_url }}"
                                                           title="Screenshare Format"><em
                                                                class="fas fa-desktop"></em></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-sm float-right">
                                                    <button class="btn btn-warning" title="Copy"
                                                            onclick="copyURLToClipboard('{{ recording.get_absolute_url_recording }}');">
                                                        <em
                                                                class="fas fa-copy"></em>
                                                    </button>
                                                    <a class="btn btn-success"
                                                       href="{% url 'recording_update' recording.id %}?redirect_user_id={{ person.id }}"
                                                       title="Edit"><em class="fas fa-pen"></em></a>
                                                    <a class="btn btn-secondary"
                                                       href="{% url 'recording_download_zip_redirect' recording.id %}"
                                                       title="Download"><em class="fas fa-file-archive"></em></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if Feature.PersonalRooms.is_enabled %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% translate "Personal Rooms" %}
                                </h3>
                                <div class="card-tools">
                                    <a class="btn btn-sm btn-default float-right"
                                       href="{% url 'personal_room_batch_change_owner' person.pk %}"
                                       title="{% translate "Transfer all personal rooms to another user" %}">
                                        <em class="fas fa-snowplow"></em>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush mx-3">
                                    {% for room in personal_rooms %}
                                        <li class="list-group-item" style="background-color: unset;">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <div>
                                                    <h5 class="mb-1">{{ room.name }}</h5>
                                                </div>

                                                <div class="btn-group btn-group-sm">
                                                    <button class="btn btn-warning"
                                                            onclick="copyURLToClipboard('{% join_or_create_url room %}');"
                                                            data-toggle="tooltip" data-placement="top"
                                                            data-boundary="viewport"
                                                            data-trigger="hover" title="{% translate "Copy" %}">
                                                        <em class="fas fa-copy"></em>
                                                    </button>
                                                    <a class="btn btn-success"
                                                       href="{% url 'room_update' room.id %}?redirect_user_id={{ person.id }}"
                                                       title="Edit"><em class="fas fa-pen"></em></a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if Feature.Media.is_enabled %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% translate "Slides" %}
                                </h3>
                                <div class="card-tools">
                                    <a class="btn btn-sm btn-default float-right"
                                       href="{% url 'slides_batch_change_owner' person.pk %}"
                                       title="{% translate "Transfer all slides to another user" %}">
                                        <em class="fas fa-snowplow"></em>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush mx-3">
                                    {% for slides in slides %}
                                        <li class="list-group-item" style="background-color: unset;">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <div>
                                                    <h5 class="mb-1">{{ slides.name }}</h5>
                                                </div>

                                                <div class="btn-group btn-group-sm">
                                                    <a class="btn btn-primary"
                                                       href="{{ slides.file.url }}" target="_blank"
                                                       data-toggle="tooltip" data-placement="top"
                                                       data-boundary="viewport"
                                                       data-trigger="hover" title="{% translate "Show" %}">
                                                        <em class="fas fa-eye"></em>
                                                    </a>
                                                    <button class="btn btn-danger"
                                                            onclick="deleteSlide('{% url "slides_delete" slides.id %}?redirect_user_id={{ person.id }}')"
                                                            data-toggle="tooltip" data-placement="top"
                                                            data-trigger="hover"
                                                            data-boundary="viewport"
                                                            title="{% translate "Delete" %}">
                                                        <em class="fas fa-trash-alt"></em>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}




{% block modals %}
    {% if Feature.Media.is_enabled %}
        <div id="delete_slides_modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="CenterModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete slides" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        {% translate "Are you sure you want to delete the slides?" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" id="delete_slides">
                            {% translate "Delete" %}
                        </a>
                        <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">{% translate "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}